.section-pedidos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px auto;
    width: 70vw;
}

.lista-pedidos{
    width: 100%;
    height: 100%;
    border: 1px solid var(--preto);
    padding: 15px;
}

h2{
    text-align: center;
}

.lista-pedidos ul{
    width: 25%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    padding: 20px;
}

/*.lista-pedidos ul li{
    
}*/

hr{
    width: 100%;
    height: 7px;
    background-color: black;
}

